on: [pull_request]
name: PHPUnit

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          # Lowest deps (PHP 8.2 & sf 6.4)
          - php: 8.2
            symfony-require: 6.4.*
            composer-flags: '--prefer-stable --prefer-lowest'
          # Normal deps with different php versions
          - php: 8.3
            symfony-require: 7.4.*
            composer-flags: '--prefer-stable'
          - php: 8.4
            symfony-require: 8.0.*
            composer-flags: '--prefer-stable'
          - php: 8.5
            symfony-require: 8.0.*
            composer-flags: '--prefer-stable'
          # Development release
          - php: nightly
            symfony-require: 8.0.*@dev
            stability: dev
            can-fail: true
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Configure Composer minimum stability
        if: matrix.stability
        run: composer config minimum-stability ${{ matrix.stability }}

      - name: Install dependencies
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony-require }}
        run: composer update ${{ matrix.composer-flags }} --no-interaction --no-progress --optimize-autoloader

      - name: Run PHPUnit
        env:
          HELLOASSO_CLIENT_ID: ${{ secrets.TESTS_HELLOASSO_ID }}
          HELLOASSO_CLIENT_SECRET: ${{ secrets.TESTS_HELLOASSO_SECRET }}
        run: vendor/bin/phpunit
